* {
    font-size: 20px;
}

QPushButton {
    padding: 10px;
}

QLabel#create_country {
    margin-top: 40px;
}

QLabel#select_country {
    margin-top: 15px;
}

QLabel#comp_label {
    padding-bottom: 5px;
}

QListWidget::item:hover {
    background: transparent;
}

QListWidget::item:selected {
    background: transparent;
}

QTableWidget::item {
    padding: 90px;
    margin: 90px;
}
