* {
    font-size: 20px;
}

QPushButton {
    padding: 10px;
}

QLabel#create_country {
    margin-top: 40px;
}

QLabel#select_country {
    margin-top: 15px;
}


QTableWidget {
    font-size: 18px;
}

QTableWidget::item {
    padding: 10px;
    font-size: 20px
}

